body, .content{
    margin: 0px 0px 0px 0px;
}
*{
    font-family: "Sarabun",sans-serif;
}

.content{
    font-size: 50px;
    padding: 50px;
    color: #183B56;
    background-color: #91A9BD;
}
.card{
    margin: 50px;
}
.cafe-card, .travel-card{
    border:5px solid #183B56;
    margin: 10px 50% 20px 0px; 
}
.img-cafe, .img-travel{
    position: relative;
    width: 360px;
    height: 110px;
    margin: 12px;
    background:
      linear-gradient(to top right, transparent 49.5%, #b8b8b8 50%, transparent 50.5%),
      linear-gradient(to bottom right, transparent 49.5%, #b8b8b8 50%, transparent 50.5%),
      #f7f7f7;
    border: 2px solid #c7c7c7;
}
.cafe-text, .cafe-title, .travel-text, .travel-title{
    margin: 10px;
    color: #21415a;
}